header{
    display: flex; /*1행 수평*/
    flex-direction: row; /*row방향 나열*/ /*flex-direction이 row니까 justify는 가로가 된다*/
    justify-content:space-between; /*양쪽 기준*/
    padding: 10px 0 10px 0;
    background-color: white;
    border-bottom: 0.5px solid #D3D3D3;
    align-items: center;
}
.left_box{
    display: flex;
    position: relative;
    padding-left: 250px;
    justify-content: flex-start; /*앞부터 정렬*/
}
.right_box{
    display: flex;
    postion: relative;
    padding-right: 250px;
    justify-content: flex-end; /*마지막부터 정렬*/
}

.logo{
    padding-top: 5px;
}
.faviconFrame{
    padding-right: 25px;
}
.right_box img{
    height: 25px;
}

.heart{
    padding-right: 30px;
}
.left_box img{
    height: 25px;
}

